.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
}

.gallery-item {
    flex: 1 0 200px; /* Minimum width of 200px for each item */
    margin-bottom: 10px;
    flex-grow: 0;
}

.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-height: 300px; /* Set maximum height for images */
}
