// Dark Grey Shades
$dark-grey-000: #959396 !default;
$dark-grey-200: #44434d !default;
$dark-grey-250: #302d36 !default;
$dark-grey-300: #27262b !default;

// Light Grey Shades
$light-grey-300: #3a383b !default;

// Green Shades
$green-000: #1D976C;  // Qt Green
$green-200: #82DCBB;  // Qt Light Green
$green-300: #66DE93;  // Qt Dark Green

// Background Colors
$body-background-color: $dark-grey-300;
$sidebar-color: $dark-grey-300;
$code-background-color: $dark-grey-100;
$search-background-color: $dark-grey-250;
$table-background-color: $dark-grey-250;

// Border Color
$border-color: $dark-grey-200;

// Text Colors
$body-text-color: $light-grey-300;
$body-heading-color: $green-200;
$nav-child-link-color: $dark-grey-000;
$search-result-preview-color: $dark-grey-000;

// Link and Button Colors
$link-color: $green-300;
$btn-primary-color: $green-000;
$base-button-color: $dark-grey-250;

// Feedback Color
$feedback-color: darken($sidebar-color, 3%);

